.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #18122B;
}

.footer__logo img {
    width: 20%;
    margin-bottom: 20px;

}

.footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}

.footer__logo p {
    font-size: .9rem;
    color: #FAF0E6;
    line-height: 28px;
}

.footer__title {
    font-size: 1.2em;
    color: #FAF0E6;
    font-weight: 600;
}

.delivery__time-item {
    background: transparent !important;
}

.delivery__time-item span {
    font-weight: 600;
    font-size: 1rem;
    color: #FAF0E6;
}

.delivery__time-item p {
    color: #FAF0E6;
}



.newsletter {
    padding: 5px;
    border: 1px solid #FAF0E6;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.newsletter input {
    background: transparent;
    border: none;
    outline: none;
}

.newsletter input:focus {
    outline: none;
}

.newsletter span {
    background: #FAF0E6;
    padding: 7px 10px;
    border-radius: 5px;
}

.newsletter span .i {
    color: #18122B;
}

.newsletter input::placeholder {
    color: #fff;
}

.social__links p{
    color: #FAF0E6;
}

.social__links span .i {
    padding: 5px;
    background: #301E67;
    color: #fff;
    border-radius: 50%;
}

.copyright__text {
    font-size: .8rem;
    color: #FAF0E6;
}

@media only screen and (max-width:992px){


    .newsletter input {
        padding: 7px;
        font-size: 0.7rem;
    }

    .newsletter span {
        padding: 4px 20px;
        font-size: 0.7rem;
    }

}

@media only screen and (max-width:768px) {
    .footer__title {
        font-size: 0.8rem;
    }

    .delivery__time-item span {
        font-size: 0.8rem;
    }

    .delivery__time-item p {
        font-size: 0.7rem;
        margin-bottom: 0;
    }
}

@media only screen and (max-width:576px){

    .copyright__text{
        text-align: center;
    }

    .social__links{
        justify-content: center;
    }

    .social__links p{
        font-size: 0.8rem;
    }

    .social__links span{
        padding: 4px;
    }
    
    .social__links span a {
        font-size: 0.7rem;
    }
}