.Data__item {
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    height: 460px;
}

.Data__img {
    margin-bottom: 20px;
    transition: 0.4s;
}

.Data__img:hover {
    transform: scale(1.2);

}

.Data__img img {
    height: 15rem;
    object-fit: contain;
}

.Data__content h5 a {
    color: #212245;
    font-size: 1.0rem;
    text-decoration: none;
}

.Data__content h5 {
    margin-bottom: 30px;
}

.Data__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #18122B;
}

.addToCart__btn {
    border: none;
    padding: 7px 25px;
    background: #18122B;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
    .Data__content h5 a {
        font-size: 1rem;
    }

    .Data__item {
        padding: 20px;
    }

    .addToCart__btn {
        padding: 5px 15px;
        font-size: 0.7rem;
    }

}

@media only screen and (max-width:768px) {
    .Data__price {
        font-size: 0.8rem;
    }

    /* .addToCart__btn{
        margin-left: 2px;
    } */
}

@media only screen and (max-width: 300px) {

    .price {
        margin-right: 0.5rem !important;
        margin-left: -0.5rem !important;
    }

    .addToCart__btn {
        font-size: 0.5rem;
        margin-left: 1px;
    }
}

@media only screen and (max-width:250px) {
    .price {
        margin-right: 0.5rem !important;
        margin-left: -1.2rem !important;
    }
}